---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import Layout from '../components/Layout.astro';
import Canvas from '../components/Canvas.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HTMLSnippet from './test.html';
---
<Layout title="test">
  <main>
    <Header/>

    <div class="introduction_wrapper">
      <div class="introduction">
        <figure>
          figure here
        </figure>

        <article>
          idk some text here or something
        </article>
      </div>

      <aside class="main-threejs-hurricane">
      <iframe id="viewer" name="viewer" src="./3d_work/koch_snowflake.html" allow="fullscreen; xr-spacial-tracking"></iframe>
      </aside>

    </div>

    <Footer/>
  </main>
</Layout>

<script>
  const viewer = document.getElementById('viewer');
</script>