---
// Component Script (JavaScript)
---
<!-- Component Template (HTML + JS Expressions) -->

<footer class="">
  <div class="">
    <p class="">
      &copy; {new Date().getFullYear()} My Website. All rights reserved.
    </p>
    <p class="text-xs mt-2">
      Follow us on 
      <a href="https://twitter.com" class="">Twitter</a>, 
      <a href="https://facebook.com" class="">Facebook</a>, 
      <a href="https://instagram.com" class="">Instagram</a>.
    </p>
  </div>
  