---
// Component Script (JavaScript)
---
<!-- Component Template (HTML + JS Expressions) -->

<header class="">
    <div class="">
        <nav class="">
            <ul class="">
                <li><a href="/" class="">Home</a></li>
                <li><a href="/about" class="">About</a></li>
                <li><a href="/3d" class="">3D Projects</a></li>
            </ul>
        </nav>
    </div>

<style>

</style>