---
// Component Script (JavaScript)
---
<!-- Component Template (HTML + JS Expressions) -->

<header class="navbar">
        <nav class="nav">
            <div class="nav-logo">ANDRES (will be logo)</div>
            <ul class="nav-list">
                <li class="nav-list-item"><a href="/" class="">Home</a></li>
                <li class="nav-list-item"><a href="/about" class="">About</a></li>
                <li class="nav-list-item"><a href="/3d" class="">3D Projects</a></li>
            </ul>
        </nav>
</header>